@tailwind base;
@tailwind components;
@tailwind utilities;

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: "product-sans";
  src: url("./assets/fonts/product-sans/Product\ Sans\ Regular.ttf");
}

body {
  margin: 0;
  font-family: "product-sans";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ffffff;
}
