@tailwind base;
@tailwind components;
@tailwind utilities;

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: "product-sans";
  src: url("./assets/fonts/product-sans/Product\ Sans\ Regular.ttf");
}

body {
  margin: 0;
  font-family: "product-sans";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ffffff;
  color: black
}

/* ManagingDatePicker */
.MuiOutlinedInput-notchedOutline {
    border: none !important;
}
.MuiInputBase-input {
    color: white !important;
    text-align: center !important;
    font-weight: 400 !important;
}

/* 화면 너비가 375px 이상일 때 */
@media (min-width: 375px) {
    .MuiInputBase-input {
        font-size: 15px !important;
    }
}

/* 화면 너비가 810px 이상일 때 */
@media (min-width: 810px) {
    .MuiInputBase-input {
        font-size: 23px !important;
    }
}